* {
  box-sizing: border-box;
}

header {
  width: 960px;
  height: 100px;
  margin: auto;
  border-bottom: 5px dashed black;
  border-bottom-style: 
}

header > section {
  float: left;
  width: 470px;
  margin-top: 20px;
}

header > section:first-child > img {
  float: left;
}

header > section:first-child > ul {
  float: left;
  margin-left: 10px;
}

header > section:first-child > ul > li:first-child{
  font-family: cursive;
  font-size: 1.9em;
}

header > section:first-child > ul > li:last-child{
  font-family: sans-serif;
  text-transform: uppercase;
  opacity: 0.6;
}


header > section:last-child {
  margin-top: 30px;
  float: right;
}

header > section:last-child > ul {
  margin-left: 238px;
}

header > section:last-child > ul > li {
  display: inline-block;
}

header > section:last-child > ul > li:nth-child(6) {
  margin-right: 10px;
}

main {
  width: 960px;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
}

main > h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

main > section {
  width: 480px;
  float: left;
  margin-bottom: 20px;
}

h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 15px;
}

main > section:nth-child(3) > * {
  float: right;
}

main > section:nth-child(4) {
  width: 960px;
  overflow: hidden;
}

main > section:nth-child(4) > img {
  width: 960px;
}

main > p:not(:last-child) {
  text-indent: 30px;
  margin-bottom: 30px;
  font-size: 1.3em;
  line-height: 1.2em;
}

main > section:last-child {
  width: 960px;
}

article {
  background-image: url('img/list-bg.png');
  width: 960px;
  height: 200px;
  overflow: hidden;
  padding: 30px 70px 30px 30px;
  font-family: sans-serif;
  font-size: 1.3em;
}

article > ul {
  float: left;
}

article > ul:last-child {
  margin-left: 180px;
}

main > img:last-child {
  float: left;
}

main > section:last-child{
  margin-top: 30px;
  border-top: 5px dashed black;
  overflow: hidden;
}

main > section:last-child > img {
  float: left;
  margin-top:20px;
  margin-right: 20px;
}

main > section:last-child > ul {
  margin-top: 20px;
  font-size: 1.3em;
  width: 750px;
}

h2{
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  float: right;
  width: 180px;
  height: 60px;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: rgb(192, 72, 72);
  color: white; 
}

footer {
  width: 960px;
  margin: auto;
}

footer > img {
  display: block;
  margin: auto;
  margin-bottom: 20px
}
footer * {
  text-align: center;
  line-height: 1.2em;
  opacity: 0.6;
}
